<div class="w-full pl-8 pr-8 md:pl-4 md:pr-4">
  <% if notice.present? %>
    <% if flash[:success] %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% else %>
      <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
  <% end %>

  <% content_for :title, "Tasks" %>

  <div class="flex flex-col md:flex-row justify-between items-center">
    <h1 class="font-bold text-4xl mb-4 md:mb-0">Tasks</h1>
    <div class="flex space-x-4">
      <%= link_to "New task", new_list_task_path(@list), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
      <%= link_to "Back to my lists", lists_path, class: "rounded-lg py-3 px-5 bg-gray-600 text-white block font-medium" %>
    </div>
  </div>

  <div id="tasks" class="min-w-full mt-4">
      <% if @tasks.present? %>
        <%= render partial: 'task_list', locals: { tasks: @tasks } %>
      <% else %>
        <p>No tasks available.</p>
      <% end %>
  </div>
</div>