<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "FocusTask" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable"="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="<%= asset_path 'favicon.svg' %>" type="image/svg+xml">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  </head>

  <body class="h-screen overflow-hidden flex flex-col">
    <header class="w-full h-16 bg-gradient-to-r from-purple-700 via-purple-600 to-purple-700 text-white p-4 text-center fixed top-0 flex justify-between items-center shadow-lg">
      <h1 class="text-xl md:text-2xl">
        <a href="<%= lists_path %>">FocusTask</a>
      </h1>
      <nav>
        <% if authenticated? %>
          <button id="user-menu-button" class="flex gap-2 items-center cursor-pointer focus:outline-none hover:bg-purple-600 p-2 rounded transition duration-300">
            <i class="fas fa-user"></i>
            <span class="max-w-32 md:max-w-48 truncate flex items-center"><%= current_user.name %></span>
            <i class="fas fa-chevron-down mt-0.5"></i>
          </button>
          <div id="user-menu" class="hidden absolute right-4 mt-2 w-36 bg-white rounded-md shadow-lg py-1 z-20">
            <%= button_to 'Logout', session_path, method: :delete, class: 'block w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 font-semibold', id: 'logout-link' %>
          </div>
        <% else %>
          <span>Welcome :)</span>
        <% end %>
      </nav>
    </header>
    <main class="mt-[4rem] overflow-auto scrollbar-thin">
      <div class="container mx-auto pb-10 pt-10 md:pt-16 flex flex-col md:flex-row">
        <div class="hidden md:block bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600 rounded-lg p-5 mb-4 md:mb-0">
        </div>
        <%= yield %>
      </div>
    </main>
    <script>
      function initializeUserMenu() {
        const userMenuButton = document.getElementById("user-menu-button");
        const userMenu = document.getElementById("user-menu");

        if (userMenuButton && userMenu && !userMenuButton.dataset.listenerAdded) {
          userMenuButton.addEventListener("click", function() {
            userMenu.classList.toggle("hidden");
          });

          document.addEventListener("click", function(event) {
            if (!userMenuButton.contains(event.target) && !userMenu.contains(event.target) && !userMenu.classList.contains("hidden")) {
              userMenu.classList.add("hidden");
            }
          });

          userMenuButton.dataset.listenerAdded = true;
        } 
      }

      document.addEventListener("turbo:load", initializeUserMenu);
      document.addEventListener("DOMContentLoaded", initializeUserMenu);
    </script>
  </body>
</html>


